.bookActionBtn{
    border: none;
    border-radius: 0.4rem;
    padding: 2px 25px;
    background-color: rgb(26, 221, 195);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 2px;
    cursor: pointer;
    transition: all 0.2s linear;
 }